* {
    font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body {
    background-color: black;
    text-decoration: white;
    color: #FFFFFF;
    font-weight: 700;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 50px;
    height: 200px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b9b9b9;
}

.nav-item {
    font-size: 35px;
    line-height: 48px;
    color: #FFFFFF;
}

#nav-text {
    display: flex;
    gap: 67px;
    margin-right: 40px;
}

#nav-link {
    display: flex;
    gap: 35px;
}

.test {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-text p a {
    text-decoration: none;
    color: #FFFFFF;

}

#nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: fixed;

    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;

}



#logo {
    width: 102px;
    height: 122px;
}

.logo-link {
    width: 80px;
    height: 80px;
}

/* FIN NAV*/

/* Acceuil */
#me {
    margin-left: 230px;
    margin-top: 250px;
    font-size: 40px;
}

#ac-button {
    margin-left: 230px;
    padding: 21px 29px;
    background: #D9D9D9;
    border-radius: 0px 50px 50px 50px;
    width: 387px;
    height: 49px;
    font-size: 39px;
    text-align: center;
    color: #000000;
}

h2 {
    text-align: center;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;

}

hr {
    background: #D9D9D9;
    border-radius: 50px;
    width: 80%;
    height: 8px;

}

#ac-container {
    margin-top: 150px;
}

#about-container {

    margin: 0;
}

#about-img {

    width: 470px;
    height: 627px;
    left: 156px;

    border: 1px solid #FFFFFF;
}

.title {
    font-size: 45px;
}

#about-text {
    left: 350px;
    font-weight: 700;
    font-size: 30px;
    line-height: 61px;
    width: 600px;
}

#about-content {
    margin-left: 230px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 100px;
    width: 1500px;
}

#about-hr {
    top: 50px;
}

/* SKILL */
#skill-container {}

#skill-flex {
    margin-left: 230px;
    display: flex;
    height: 100%;

    justify-content: center;
}

.skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 40%;
    height: 50%;
    justify-content: right;
}

.skill-text {
    color: #FFFFFF;
    font-size: large;

}

.skill-span {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #92a9ed;
    width: 90%;
}


.container1 {
    width: 400px;
    background-color: #000000;
    border: solid #FFFFFF 1px;
}

.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(0, 0, 0);
    font-size: large;
}

.html {
    width: 70%;
    background-color: #FFFFFF;
}

.js {
    width: 80%;
    background-color: #FFFFFF;
}

.php {
    width: 90%;
    background-color: #FFFFFF;
}

.photoshop {
    background-color: #FFFFFF;
    width: 50%;
}

.carousel {
    position: relative;
    width: 600px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-items {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.item {
    flex: 0 0 100%;
}

.carousel-menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.carousel-menu li {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: gray;
    margin: 0 5px;
    cursor: pointer;
}

.carousel-menu li.active {
    background-color: rgb(255, 255, 255);
}

.carousel-img {
    width: 600px;
    height: auto;
}