#root {
    --title-color: #f0f0f0;
    --title-alt-color: #282b38;
    --title-font-size: 80px;
    --description-font-size: 24px;
    --description-color: aliceblue;
}



body {
    background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);

}

html,
body {
    margin: 0;
    padding: 0;
}

.text {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--description-color);
    font-size: var(--description-font-size);
}


.alter-color {
    color: var(--title-alt-color);
}

.title {
    font-size: 3.2em;
    line-height: 1.1;
    padding: 0.5em;
    color: var(--title-color);
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 0.1em;
    margin: 0;
}