.about {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    --primary-color: #4ec0e9;
}

.about .text {
    font-size: 24px;
}

.about .stars {
    position: fixed;
    top: 700px;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.about .star {
    --star-color: var(--primary-color);
    --star-tail-length: 6em;
    --star-tail-height: 20px;
    --star-width: calc(var(--star-tail-length) / 6);
    --fall-duration: 9s;
    --tail-fade-duration: var(--fall-duration);
    position: absolute;
    top: 30%;
    left: 5%;
    width: var(--star-tail-length);
    height: var(--star-tail-height);
    color: var(--star-color);
    background: linear-gradient(45deg, currentColor, transparent);
    border-radius: 50%;
    filter: drop-shadow(0 0 6px currentColor);
    transform: translate(-50%, -50%);
    animation: arc-tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}



.about .star:nth-child(1) {
    --star-tail-length: 6.23em;
    --fall-duration: 8.313s;
    --fall-delay: 7.47s;
}

.about .star::before,
.star::after {
    position: absolute;
    content: "";
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite;
}

.about .star::before {
    transform: rotate(-90deg);
}

.about .star::after {
    transform: rotate(-45deg);
}

@keyframes arc-tail-fade {

    0%,
    50% {
        width: var(--star-tail-length);
        opacity: 1;
    }

    70%,
    80% {

        opacity: 1;
    }

    100% {

        opacity: 1;
    }
}