.projectContainer:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.project .project-title {
    cursor: pointer;
    position: relative;

}

.project .font-color {
    color: var(--title-color);
}

.project .project-font-size {
    font-size: 1.5em !important;
}


@media (min-width: 576px) {
    .project .project-font-size {
        font-size: 1em !important;
    }
}


@media (min-width: 768px) {
    .project .project-font-size {
        font-size: 2em !important;
    }
}


@media (min-width: 992px) {
    .project .project-font-size {
        font-size: 3em !important;
    }
}


@media (min-width: 1200px) {
    .project .project-font-size {
        font-size: 3.5em !important;
    }
}