.projectContainer:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.project .project-title {
    cursor: pointer;
    position: relative;

}

.project .font-color {
    color: var(--title-color);
}

.project .project-font-size {
    font-size: 1.5em !important;
}

.blur-background {
    filter: blur(5px);

}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    position: relative;

}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media (min-width: 576px) {
    .project .project-font-size {
        font-size: 1em !important;
    }
}


@media (min-width: 768px) {
    .project .project-font-size {
        font-size: 2em !important;
    }
}


@media (min-width: 992px) {
    .project .project-font-size {
        font-size: 3em !important;
    }
}


@media (min-width: 1200px) {
    .project .project-font-size {
        font-size: 3.5em !important;
    }
}